In [6]:
import mysql.connector

conn = mysql.connector.connect(
    host = "database-1.c5my42wsuuxn.ap-northeast-2.rds.amazonaws.com",
    port = 3306,
    user = "root",
    password = "00320032",
    database = "armbase"
)

In [7]:
import pandas as pd

df = pd.read_csv("sandwich.csv", encoding='utf-8')
df.head()

   Rank                    Cafe               Menu  Price              Address
0     1             Old Oak Tap                BLT   10.0  2109 W. Chicago Ave
1     2               Au Cheval      Fried Bologna    9.0   800 W. Randolph St
2     3                    Xoco  Woodland Mushroom    9.5      445 N. Clark St
3     4               Al’s Deli         Roast Beef    9.4         914 Noyes St
4     5  Publican Quality Meats               PB&L   10.0    825 W. Fulton Mkt

In [8]:
sql = """INSERT INTO sandwich VALUES (%s, %s, %s, %s, %s)"""
cursor = conn.cursor(buffered=True)